.DS_Store
.idea
tool-generate-captures/node_modules/*
tool-generate-captures/.idea/workspace.xml

html/styles/style-tutorial.css.map
html/js/main.js.map
_clearfix.scssc
_float.scssc
_hacks.scssc
_min.scssc
_reset.scssc
_tag-cloud.scssc
_animation.scssc
_appearance.scssc
_background-clip.scssc
_background-origin.scssc
_background-size.scssc
_border-radius.scssc
_box-shadow.scssc
_box-sizing.scssc
_columns.scssc
_deprecated-support.scssc
_filter.scssc
_flexbox.scssc
_font-face.scssc
_hyphenation.scssc
_images.scssc
_inline-block.scssc
_opacity.scssc
_regions.scssc
_text-shadow.scssc
_transform.scssc
_transition.scssc
_user-interface.scssc
_color.scssc
_general.scssc
_sprites.scssc
_tables.scssc
_links.scssc
_lists.scssc
_text.scssc
_units.scssc
_vertical_rhythm.scssc
_base.scssc
_sprite-img.scssc
_compass.scssc
_brightness.scssc
_contrast.scssc
_utilities.scssc
_grid-background.scssc
_footer.scssc
_header.scssc
_module-navigation.scssc
_tutorial.scssc
style.scssc
_alternating-rows-and-columns.scssc
_borders.scssc
_scaffolding.scssc
_css3.scssc
_support.scssc
_typography.scssc
_ellipsis.scssc
_force-wrap.scssc
_nowrap.scssc
_replacement.scssc
_bullets.scssc
_horizontal-list.scssc
_inline-block-list.scssc
_inline-list.scssc
_hover-link.scssc
_link-colors.scssc
_unstyled-link.scssc
