#header-always {
  background: #000000;
  height: 42px;
  color: #fff;

  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 100;

  #header-wrap {
    max-width: $contentWidth;
    margin: 0 auto;

    line-height: 42px;
    height: 42px;

    &:after {
      content: "";
      clear: both;
      display: block;
    }

    h1 {
      float: left;
      //margin-top: 8px; // CreateJS入門サイトはOFFにする
      font-size: 1rem !important; // CreateJS入門サイトはOFFにする
      line-height: 34px;

      a {
        display: block;
        height: 26px;
        margin-top: 8px;

        .logoBlog {
          background: url("../images/logo-blog.png") no-repeat;
          background-size: cover;

          width: 477px;
          height: 26px;
          display: inline-block;
          text-indent: -9999px;
        }
      }

      @media (max-width: $mediaWidthLarge) {
        padding: 0 $contentHorizontalPadding;
      }

      @media (max-width: $mediaWidthMedium) {
        width: 100%;

        a {
          width: 180px;
          overflow: hidden;
          margin: 8px auto 0;
        }
      }
    }

    @media (max-width: $mediaWidthMedium) {
      ul {
        display: none;
      }
    }

    ul {
      float: right;

      li {
        display: block;
        margin: 0;
        float: left;

        a {
          display: block;
          height: 42px;
          width: 42px;
          text-align: center;
          font-size: 1rem;
          line-height: 42px;
          color: #ccc;
          text-decoration: none;
          padding: 0 0.5rem;

          &:visited {
            color: #ccc;
          }

          transition: all 0.6s;

          &:hover {
            transition: all 0.075s;
            background: $colorBaseGray;
            color: #fff;
          }
          &:active {
            transition: all 0.075s;
            background: $colorBaseLightGray;
            color: #fff;
          }
        }
      }
    }
  }

  transition: all 0.3s ease;

  #header-breadcrumb {
    $itemHeight: 36px;
    width: 100%;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    color: #ccc;
    font-size: 0.8rem;

    height: $itemHeight;

    transition: background 0.6s ease;

    .wrap {
      max-width: $contentWidth;
      margin: 0 auto;

      &:after {
        content: "";
        display: block;
        clear: both;
      }

      ul.breadcrumb {
        width: calc(100% - 160px - 5px);

        /* Bootstrap の打ち消し */
        padding: 0 5px 0 0;
        margin-bottom: 0px;
        background-color: inherit;

        @media (max-width: $mediaWidthLarge) {
          padding-left: $contentHorizontalPadding;
        }

        li {
          line-height: $itemHeight;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          margin-left: 0.5em;
          &:after {
            margin-left: 0.5em;
            content: "/";
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            &:after {
              content: "";
            }
          }

          a {
            transition: all 0.3s;

            line-height: inherit;

            &:hover {
              color: #fff;
            }
            &:active {
              color: $colorTextLinkActive;
            }
            /*
            &:after {
                content: "\f105";
                font-family: FontAwesome;
                padding-left: 0.5rem;
                color: #666;
            }
            */
          }

          .date {
            color: #888;
          }
        }
      }
    }

    a,
    a:visited,
    a:hover,
    a:active {
      color: #999;
      text-decoration: none;
    }
  }
}
